<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="resources/images/favicon.png">
    <title>GMS :: Dashboard</title>
    <link href="resources/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">

    <link href="resources/css/lib/calendar2/semantic.ui.min.css" rel="stylesheet">
    <link href="resources/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <link href="resources/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="resources/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="resources/css/helper.css" rel="stylesheet">
    <link href="resources/css/style.css" rel="stylesheet">
    <link href="resources/css/jquery.growl.css" rel="stylesheet">
    <link href="resources/css/datatables.css" rel="stylesheet"></link>
    
    <script src="resources/js/lib/jquery/jquery.min.js"></script>
    <script src="resources/js/jquery.cookie.js"></script>
    <script src="resources/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="resources/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
    <script src="resources/js/jquery.slimscroll.js"></script>
    <script src="resources/js/sidebarmenu.js"></script>
    <script src="resources/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>

    <script src="resources/js/lib/jquery.growl.js"></script>
    
    <script src="resources/js/lib/datatables/datatables.min.js"></script>
    <script src="resources/js/lib/datatables/datatables-init.js"></script>
    <script src="resources/js/lib/moment.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
    
    <script src="resources/js/lib/pdf-exporter/jspdf.min.js"></script>
    <script src="resources/js/lib/pdf-exporter/jspdf.plugin.autotable.js"></script>
    
     <script src="resources/js/core/gms.js"></script>
     <script src="resources/js/core/gms-util.js"></script>
     <script src="resources/js/core/gms-model.js"></script>
     <script src="resources/js/core/gms-data.js"></script>
     
     <script src="resources/js/core/gms-client.js"></script>
     <script src="resources/js/core/gms-client-login.js"></script>
	 <script src="resources/js/core/gms-client-user-grievance.js"></script>
	 <script src="resources/js/core/gms-client-admin-grievance.js"></script>
     
     <script src="resources/js/core/gms-ui.js"></script>
     <script src="resources/js/core/gms-ui-user-grievance.js"></script>
     <script src="resources/js/core/gms-ui-admin-grievance.js"></script>
     <script src="resources/js/core/gms-ui-menu.js"></script>
     <script src="resources/js/core/gms-ui-login.js"></script>//cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js
     
     <style type="text/css">
     	a.view_details {
     		color: blue;
     		cursor: pointer;
     	}
     	
     	a.view_details:hover {
     		color: hotpink;
     	}
     </style>
</head>

<body class="fix-header">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <div id="gms_header" class="header">
        </div>
        <div id="gms_menu" class="left-sidebar">
        </div>
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div id="gms_bread_cumb">
            	
            </div>
			
            <div class="container-fluid" style="display: block">
                <div class="row">
                    <div class="col-12">
                        <div id="gms_page_container" class="card-body">
                            	
						</div>
                    </div>
                </div>
            </div>
            <footer class="footer" style="bottom: 0; position: absolute"></footer>
        </div>
    </div>
</body>
<script src="resources/js/custom.min.js"></script>
</html>